@page
@model first_proj.CouvrePlancher.IndexModel
@{
	ViewData["Title"] = "Couvres Plancher";
}

<br />
<h2 class="text-center">Liste des Couvres</h2>
<a class="btn btn-primary btn-sm" asp-page="/CouvrePlancher/Create">Nouveau Couvre</a>

<br />
<table class="table">
	<thead>
		<tr class="text-center">
			<th>ID</th>
			<th>Type de Couvre Plancher</th>
			<th>Matériaux</th>
			<th>Main d'ouevre</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.CouvreList)
		{
			<tr>
				<td class="text-center">@item.id</td>
				<td class="text-center">@item.typec</td>
				<td class="text-center">@item.materiaux</td>
				<td class="text-center">@item.main_ouevre</td>
				<td class="text-center">
					<a class="btn btn-success btn-sm" href="/CouvrePlancher/Edit?id=@item.id">Modifier</a>
					<a class="btn btn-danger btn-sm" href="/CouvrePlancher/Delete?id=@item.id">Supprimer</a>
				</td>
			</tr>
		}
	</tbody>
</table>