@page
@{
}

<div class="about">
    <h3>
        A travers cette application, <br> <br>
        Vous pouvez faire des demandes en tapant les informations nécessaires
        et nous allons calculer vore coûts totals de votre demande
    </h3>
</div>
	