@page
@model IndexModel
@{
    ViewData["Title"] = "Plancher Expert";
}
<h1 class="display-4">Bienvenue à Plancher Expert</h1>
<img src="~/images/logowb.png" class="logo">
<div class="text-left">
    <br />
    <p>
        <h4 class="display-7">
            Bienvenue chez Expert Plancher,
            votre partenaire de confiance pour tous vos besoins en
            couvre-planchers de qualité. Nous sommes une entreprise
            spécialisée dans la fourniture de solutions de revêtement de sol
            haut de gamme pour les clients exigeants.
            Avec notre vaste gamme de produits et notre expertise
            approfondie, nous nous engageons à vous offrir
            des couvre-planchers exceptionnels qui rehausseront à la fois
            l'esthétique et la fonctionnalité de vos espaces.
        </h4>
    </p>
</div>

