@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="privacy">
    <p>
        <h2>Nous collectons les informations suivantes lorsque vous utilisez notre site web :</h2>

        -Informations d'identification : Nous pouvons collecter votre nom, votre adresse e-mail et
        d'autres informations d'identification nécessaires pour vous fournir nos services.
    </p>
    <p>
        -Informations de connexion : Nous pouvons collecter des informations sur votre adresse IP,
        votre navigateur web, vos informations sur le système d'exploitation et d'autres informations
        de connexion techniques lorsque vous accédez à notre site web.
    </p>
    <p>
        -Informations d'utilisation : Nous pouvons collecter des informations sur la manière dont vous
        utilisez notre site web, telles que les pages que vous consultez, les fonctionnalités que vous
        utilisez et les actions que vous effectuez.
    </p>
</div>
